@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply w-[10px] p-10;
}
::-webkit-scrollbar-thumb {
  @apply bg-black/40 rounded-full border;
}
body {
  @apply text-neutral-800 overflow-x-hidden text-lg font-medium;
}

@layer components {
  /* general */
  .wrapper {
    @apply container m-auto p-5;
  }
  header.active {
    animation: drop 0.4s forwards;
  }

  @keyframes drop {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0%);
    }
  }
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1.2);
    }
    80% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
}
